.myBtn {
  position:relative;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:30px;
  height:30px;
  padding:10px;
  border-radius:8px;
  font-size:2rem;
  font-weight:30;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}

.textGradient {
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20vw;
  font-family: 'Poppins', sans-serif;
}
