.oppo-avt {
	height: 60px;
	width: 60px;
	border: 3px solid #7F6346;
	border-radius: 7px;
}
#vs {
	height: 32px;
	width: 32px;
}
.time {
	font: bold 40px Arial, Helvetica, sans-serif;
	color: #3F51B5; /*#FFDAB0;*/
	/* text-shadow:#00c8ff /*#7F6346*/ 2px 2px 2px; */
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 3px #00ecdf, 0 0 4px #00ecdf;
  }

  to {
    text-shadow: 0 0 2px #fff, 0 0 4px #00ccff, 0 0 5px #00ccff;
  }
}

#board{
	overflow: auto;
}
#board-table{
	width: 100%;
	border: 1px solid #7F6346;
	min-width: 300px;
	table-layout:fixed;
}
.square{
	width: 6.25%;
	padding: 2px;
	border: 1px solid #7F6346;
	cursor: pointer;
	overflow:hidden;
}
.square::before{
  content:'';
  float: left;
	padding-top:100%;
}
.square img{
	width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#board-cpanel{
	margin-top: 5px;
	padding: 10px;
	z-index: 100;
	border-radius: 5px;
	text-align: center;
}





/*################*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





@media only screen and (max-width: 550px){

	#left-hafl{
		display: none;
	}
	.chatbox-area, .chatbox-content-area-title, .chat-content, .character-box{
		display: none;
	}
	#character-area{
		display: none;
	}
	#right-half{
		width: 100%;
		margin: auto;
	}
}
/*
@media all and (min-width: 850px){
	#talking{
		font-size: 20px;
	}
	#notify, #chat{
		width: 25%;
		clear: none;
		display: block;
 		margin-left: auto;
 		margin-right: auto;
	}
	#board-area {
		width: 70%;
		clear: none;
		float: left;
	}
	#container{
		width: 100%;
		max-width: 1500px;
	}
	.content-area{
		margin: 20px;
	}
	#logo {
		margin: 20px;
	}
} */
