{% extends "caro/base.html" %}
{% load static %}

{% block title %}
	Caro Online
{% endblock %}

{% block body %}
	<h1 id="logo">CARO ONLINE</h1>

	<span id = "return-box"><img src="{% static 'caro/img/return.png' %}" style = "width: 35px; margin-top: 10px; margin-left: 7px"></span>
	<div style="display: inline-block" id = "container">
		<div id = "left-half">


			<div id = "room-area">
				<div class = "room-box">
					<div style="text-align: center; font-size: 30px; font-weight: bold;">Room 16</div>

					<div class = "room-bet">
						<img id = "left-room-box" src="{% static 'caro/img/coin.png' %}">
						<div id = "right-room-box">1.000.000.000</div>
					</div>
				</div>
			</div>

			<div id = "character-area">
				<div id = "left-half-character-box">
					<div class = "character-box">
						<img class = "character-ava" src="{% static 'caro/img/lol1.jpg' %}">
						<div style = "text-align: center; font-weight: bold; font-size: 20px; color: blue;">Caitlyn</div>
						<div class = "room-bet" style="margin-top: 30px; width: 80%;">
							<img id = "left-room-box" src="{% static 'caro/img/coin.png' %}">
							<div id = "right-room-box">1.000.000</div>
						</div>
						<div id="messageA" class="readyFont"></div>
						<!-- <div class = "readyFont">Ready</div> -->
					</div>
				</div>
				<div id = "right-half-character-box">
					<div class = "character-box">
						<img class = "character-ava" src="{% static 'caro/img/lol2.jpg' %}">
						<div style = "text-align: center; font-weight: bold; font-size: 20px; color: blue;">Shen</div>
						<div class = "room-bet" style="margin-top: 30px; width: 80%;">
							<img id = "left-room-box" src="{% static 'caro/img/coin.png' %}">
							<div id = "right-room-box">2.000.000</div>
						</div>
						<div id="messageB" class="readyFont"></div>
					</div>
				</div>
			</div>
			<div class="chatbox-area">
				<div class="chatbox-content-area-title"><i class="fa fa-comments-o" aria-hidden="true"></i> Chat</div>
				<div class="chat-content">
					<!-- <ul id="messageContent"> -->
						<p id="messageContent"></p>
					<!-- </ul> -->
				</div>
				<div id = "small-chatbox-content-area">
					<form style="clear: both">
						<input id="myMessage" class="chat-message" type="text" placeholder="Enter to send">
						<button id="sendButton" class = "chat-send" type="button"></button>
					</form>
				</div>
			</div>
		</div>
		<!-- <iframe src="http://www.staggeringbeauty.com/" style="border: 1px inset #ddd" width="498" height="598"></iframe> -->
		<!-- <iframe src="https://bedaudodangghet.imfast.io" style="border: 1px inset #ddd" width="498" height="598"></iframe> -->
		<div id = "right-half">


			<div class="boardContentArea">
				<div id="boardInfo">
					<span id="oppo1-time" class="time timeGlow"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<img id="ava1" class="boardOppoAvt" src="{% static 'caro/img/lol1.jpg' %}">&nbsp;
					<img id="vs" src="{% static 'caro/img/vs.png' %}">&nbsp;&nbsp;
					<img id="ava2" class="boardOppoAvt" src="{% static 'caro/img/lol2.jpg' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span id="oppo2-time" class="time timeGlow"></span>
					<br/>

					<span>
						<a href="#" style="font-weight:bold;"> Caitlyn </a>
						<img style="width:16px;" src="{% static 'caro/img/x.png' %}"> fights against

						<img style="width:16px;" src="{% static 'caro/img/o.png' %}">
						<a href="#" style="font-weight:bold;"> Shen </a>
					</span>

				<!-- Board will be drawn by javascript -->
				<div id="board">

				</div>


				<div id="board-cpanel">

					<button class="optionBtn" onclick="ctrl.newGame()">
						<i class="fa fa-gamepad fa-2x" aria-hidden="true"></i> New game</button>

					<button class="optionBtn" onclick="ctrl.surrender()">
						<i class="fa fa-flag-o fa-2x" aria-hidden="true"></i> Surrender</button>

					<button class="optionBtn" onclick="ctrl.rewind()">
						<i class="fa fa-undo fa-2x" aria-hidden="true"></i> Rewind</button>

					<button class="optionBtn" onclick="ctrl.quit()">
						<i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> Quit</button>

				</div>

			</div>
		</div>

		<div id="readyButton" class="readyBtnContainer readyBtn">
			<a href="#" class="btn specFont" style="color: white;">READY</a>
		</div>

		<!-- <div style = "clear: both;">
			<button class="btn1" onclick="ctrl.twoPlayer()">Two Player</button>
			<button class="btn1" onclick="ctrl.newGame()">AI</button>
		</div>

		<label class="switch">
		  <input type="checkbox" checked>
		  <span class="slider round"></span>
		</label> -->

	</div>

	{{ room_id|json_script:"room-id" }}
	<script>
		const roomId = JSON.parse(document.querySelector("#room-id").textContent);
		// When we're using HTTPS, use WSS too.
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		const url = ws_scheme + '://'
					+ window.location.host
					+ '/ws/caro/'
					+ roomId
					+ '/';
		var socket = new WebSocket(url);
		console.log(`Create socket ${url}`);

		socket.onmessage = function(e) {
			const data = JSON.parse(e.data);
			console.log("Socket gain message: " + data.content);
		};

		socket.onclose = function(e) {
			console.error("Chat socket closed unexpectedly");
		};

		document.querySelector('#readyButton').onclick = function() {
			console.log("Ready clicked");
			var button = document.querySelector("#readyButton");
	        button.style.display = 'none'; // insert this line

	        var messageA = document.querySelector("#messageA");
	        var messageB = document.querySelector("#messageB");

	        messageA.innerHTML = 'Ready';
	        messageB.innerHTML = 'Ready';

			const message = "Hello from room " + roomId;
			console.log(message);
			// socket.send(JSON.stringify({
			// 	'content': message
			// }));
		};
    </script>
{% endblock %}
