{% extends 'users/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/form.css' %}">
    <style>
        .wrap-login100{
            justify-content: center;
        }
    </style>
{% endblock head %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-4"> Change Password </legend>
                <!-- <label style='font-weight: bold; font-size: large'> Old Password </label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
                <label style='font-weight: bold; font-size: large'>New Password</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                <label style='font-weight: bold; font-size: large'>Confirm New Password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }} -->
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Save changes </button>
            </div>
        </form>
    </div>
{% endblock content %}
