* {
	padding: 0; margin: 0;
	box-sizing: border-box;
	position: relative;
	font-family: Arial;
	font-size: 14px;
}
body {
	background: url("../img/bg.jpg");
}

#logo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 50px/normal "Passero One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: left;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0.5px 0 rgb(204,204,204) , 0 1px 0 rgb(201,201,201) , 0 1.5px 0 rgb(187,187,187) , 0 2px 0 rgb(185,185,185) , 0 2.5px 0 rgb(170,170,170) , 0 3px 1px rgba(0,0,0,0.0980392) , 0 0 2.5px rgba(0,0,0,0.0980392) , 0 1px 1.5px rgba(0,0,0,0.298039) , 0 1.5px 2.5px rgba(0,0,0,0.2) , 0 2.5px 5px rgba(0,0,0,0.247059) , 0 5px 5px rgba(0,0,0,0.2) , 0 10px 10px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.15, 0, 0.2, 1);
  -moz-transition: all 300ms cubic-bezier(0.15, 0, 0.2, 1);
  -o-transition: all 300ms cubic-bezier(0.15, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.15, 0, 0.2, 1);
  text-align: center;
}

#container{
	width: 100%;
	margin: 30px auto;
}
.content-area-title{
	color: black;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.content-area{
	padding: 5px;
	margin: 5px;
	background: white;/*areacolor*/
	border: 1px solid #7F4F2A;
	float: left;
}

.content-area a {
	text-decoration: none;
	color: blue;/*Name*/
}


/*Control Elements*/
.btn1 {
	font-weight: bold;
	text-transform: uppercase;
	background-color: white;/*new game, send*/
	border: 2px solid #7F4F2A;
	border-radius: 5px;
	color: black;/*Letter new game*/
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 10px;
}

.chat-script{
	margin-top: 2px;
	margin-bottom: 2px;
	border: 2px solid #BF9469;
	border-radius: 5px;
	padding-left: 4px;
}
.info {
	border: 2px solid black;
	text-overflow: auto;
}
