@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");
body{
	/* font-family: Arial; */
	font-family: "Source Sans Pro", sans-serif;
	background: url('/static/images/body_background.jpg');
	margin: 0px auto;
}

#menu_top {
	background: #554360;
	height: 50px;
	overflow: hidden;
	margin: 0px auto;
	width: 1000px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#banner {
	margin: 0px auto;
	width: 1000px;
	background: #febd4b;
	height: 300px;
}

#main {
	margin: 0px auto;
	width: 1000px;
	margin-top: 5px;
}

#main #mid {
	background: white;
	height: 700px;
	width: 1000px;
	float: left;
	border-radius: 10px;
	margin-bottom: 5px;
}

#footer {
	margin: 0px auto;
	width: 1000px;
	background: #303036;
	color: #d3d3d3;
	height: 250px;
	clear: left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#menu_top a {
	float: left;
	color: #f2f2f2;
	height: 50px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#menu_top a:hover {
	background: #ddd;
	color: linear-gradient(-135deg, #c850c0, #4158d0);
}

#menu_top a.activate {
	background: linear-gradient(-135deg, #c850c0, #4158d0);
	color: white;
}

#menu_top a.right-side {
	float: right;
}

#menu_top a i{
	font-size: 20px;
}

#banner img {
	width: 1000px;
	height: 300px;
}



#main #mid .articles {
	margin-top: 40px;
	margin-left: 47px;
	list-style-type: none;
	width: 800px;
	border: 6px solid gray;
	padding: 0px 90px 0px 0px;
}

#main #mid .articles .article {
	width: 880px;
	padding: 5px;
  	overflow: auto;
  	border-bottom: 1px solid grey;
}

#main #mid .articles .article img {
	width: 130px;
	float: left;
	margin: 0 15px 0 0;
	border: 1px solid #000;
}

#main #mid .articles .article:hover {
  	background: #eee;
  	cursor: pointer;
}

#main #mid .articles .article h3 a{
	text-decoration: none;
}

#main #mid .articles .article h3{
	margin-left: 170px;
	color: linear-gradient(-135deg, #c850c0, #4158d0);
}

#main #mid .articles .article p{
	margin-left: 170px;
	color: #000;
}

#main #mid .pagination {
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
	color: #000;
}

#main #mid .pagination a {
	text-decoration: none;
}


#footer #about {
	width: 430px;
	float: left;
}

#footer #about h4 {
	text-indent: 30px;
	font-size: 20px;
}

#footer #about #info-contact {
	text-indent: 9px;
}

#footer #about #info-contact p {
	font-size: 19px;
}

#footer #about #info-contact i {
	padding: 3px;
}

#footer #quick-link {
	width: 270px;
	float: left;
}

#footer #quick-link h4 {
	text-indent: 40px;
	font-size: 20px;
}

#footer #quick-link ul {
	margin-left: 35px;
}

#footer #quick-link ul li{
	margin-bottom: 10px;
	font-size: 19px;
}

#footer #quick-link ul li a {
	text-decoration: none;
	color: #d3d3d3;
}

#footer #contact-us {
	width: 300px;
	float: left;
}

#footer #contact-us h4 {
	font-size: 20px;
}

#footer #contact-us #enter-mail {
	overflow: hidden;
	border-radius: 5px;
	width: 85%;
	padding: 6px 0;
	margin: 6px 0;
	background: #272727;
}

#footer #contact-us #enter-mail input{
	background: none;
	border: none;
	outline: none;
	color: #d3d3d3;
	font-size: 15px;
	text-indent: 15px;
	width: 100%;
}

#footer #contact-us #enter-message {
	overflow: hidden;
	border-radius: 5px;
	width: 85%;
	height: 70px;
	margin: 6px 0;
	vertical-align: top;
	background: #272727;
}

#footer #contact-us #enter-message input{
	background: none;
	border: none;
	outline: none;
	color: #d3d3d3;
	font-size: 15px;
	text-indent: 15px;
	width: 100%;
	padding-top: 6px;
}

#footer #contact-us #submit-button {
	float: right;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
	border: 2px solid linear-gradient(-135deg, #c850c0, #4158d0);
	border-radius: 5px;
	color: white;
	font-size: 14px;
	padding: 8px;
	margin-right: 45px;
	cursor: pointer;
}

#copy-right {
	width: 1000px;
	font-size: 20px;
	clear: left;
	height: 40px;
	line-height: 40px;
	color: #d3d3d3;
	background: #303036;
	margin: 0px auto;
	text-align: center;
	border-top: 2px solid grey;
}
