<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic tac toe</title>
    <link rel="stylesheet" type="text/css" href="static/css/caro.css">
</head>
<body>
    <h2 style="text-align: center">Caro Game Not Simple</h2>
    <p id="caroGame" style="text-align: center"></p>
    <script>
        let view = document.getElementById("caroGame");
        let data = "";
        let board = [];
        let idArray = [];
        let current = "O";
        let maxRow = 10;
        let maxCol = 10;

        display();
        function display() {
            for(let i=0; i<maxRow; i++){
                data +=  "<br>";
                board[i] = new Array();
                for(let j=0; j<maxCol; j++){
                    idArray[idArray.length] = [i, j];
                    board[i][j] = '<button id = "cell-'+i+'-'+j+'" class = "myBtn" value = "" onclick = "play(this); checkWin(this.id);"></button>';
                    data += board[i][j];
                }
            }
        }
        //view.textContent = data;
        view.innerHTML = data;

        function play(button) {
            if(button.value == "") {
                if(current == "X") {
                    current = "O";
                    colorButton(button,"#FF3333");
                } else {
                    current = "X";
                    colorButton(button,"#3399FF");
                }
                button.value = current;
            }
        }
        function colorButton(thisButton,color) {
            thisButton.style.background = color;
        }

        function checkWin(id) {
            let idSpited = id.split("-");
            let i = Number(idSpited[1]);
            let j = Number(idSpited[2]);

            let element0 = document.getElementById("cell-"+i+"-"+j).value;

            let element1 = 0;
            if(i>0 && j>0) {
              element1 = document.getElementById("cell-"+(i-1)+"-"+(j-1)).value;
            }

            let element2 = 0;
            if(i>0) {
              element2 = document.getElementById("cell-"+(i-1)+"-"+j).value;
            }

            let element3 = 0;
            if(i>0 && j<(maxCol-1)) {
              element3 = document.getElementById("cell-"+(i-1)+"-"+(j+1)).value;
            }

            let element4 = 0;
            if(j<(maxCol-1)) {
              element4 = document.getElementById("cell-"+i+"-"+(j+1)).value;
            }

            let element5 = 0;
            if(i<(maxRow-1) && j<(maxCol-1)) {
              element5 = document.getElementById("cell-"+(i+1)+"-"+(j+1)).value;
            }

            let element6 = 0;
            if(i<(maxRow-1)) {
              element6 = document.getElementById("cell-"+(i+1)+"-"+j).value;
            }

            let element7 = 0;
            if(i<(maxRow-1) && j>0) {
              element7 = document.getElementById("cell-"+(i+1)+"-"+(j-1)).value;
            }

            let element8 = 0;
            if(j>0) {
              element8 = document.getElementById("cell-"+i+"-"+(j-1)).value;
            }

            let element9 = 0;
            if(i>1 && j>1) {
              element9 = document.getElementById("cell-"+(i-2)+"-"+(j-2)).value;
            }

            let element10 = 0;
            if(i>1) {
              element10 = document.getElementById("cell-"+(i-2)+"-"+j).value;
            }

            let element11 = 0;
            if(i>1 && j<(maxCol-2)) {
              element11 = document.getElementById("cell-"+(i-2)+"-"+(j+2)).value;
            }

            let element12 = 0;
            if(j<(maxCol-2)) {
              element12 = document.getElementById("cell-"+i+"-"+(j+2)).value;
            }

            let element13 = 0;
            if(i<(maxRow-2) && j<(maxCol-2)) {
              element13 = document.getElementById("cell-"+(i+2)+"-"+(j+2)).value;
            }

            let element14 = 0;
            if(i<(maxRow-2)) {
              element14 = document.getElementById("cell-"+(i+2)+"-"+j).value;
            }

            let element15 = 0;
            if(i<(maxRow-2) && j>1) {
              element15 = document.getElementById("cell-"+(i+2)+"-"+(j-2)).value;
            }

            let element16 = 0;
            if(j>1) {
              element16 = document.getElementById("cell-"+i+"-"+(j-2)).value;
            }

            let element17  = 0;
            if(i>2 && j>2) {
              element17 = document.getElementById("cell-"+(i-3)+"-"+(j-3)).value;
            }

            let element18 = 0;
            if(i>2) {
              element18 = document.getElementById("cell-"+(i-3)+"-"+j).value;
            }

            let element19 = 0;
            if(i>2 && j<(maxCol-3)) {
              element19 = document.getElementById("cell-"+(i-3)+"-"+(j+3)).value;
            }

            let element20 = 0;
            if(j<(maxCol-3)) {
              element20 = document.getElementById("cell-"+i+"-"+(j+3)).value;
            }

            let element21 = 0;
            if(i<(maxRow-3) && j<(maxCol-3)) {
              element21 = document.getElementById("cell-"+(i+3)+"-"+(j+3)).value;
            }

            let element22 = 0;
            if(i<(maxRow-3)) {
              element22 = document.getElementById("cell-"+(i+3)+"-"+j).value;
            }

            let element23 = 0;
            if(i<(maxRow-3) && j>2) {
              element23 = document.getElementById("cell-"+(i+3)+"-"+(j-3)).value;
            }

            let element24 = 0;
            if(j>2) {
              element24 = document.getElementById("cell-"+i+"-"+(j-3)).value;
            }

            let element25  = 0;
            if(i>3 && j>3) {
              element25 = document.getElementById("cell-"+(i-4)+"-"+(j-4)).value;
            }

            let element26 = 0;
            if(i>3) {
              element26 = document.getElementById("cell-"+(i-4)+"-"+j).value;
            }

            let element27 = 0;
            if(i>3 && j<(maxCol-4)) {
              element27 = document.getElementById("cell-"+(i-4)+"-"+(j+4)).value;
            }

            let element28 = 0;
            if(j<(maxCol-4)) {
              element28 = document.getElementById("cell-"+i+"-"+(j+4)).value;
            }

            let element29 = 0;
            if(i<(maxRow-4) && j<(maxCol-4)) {
              element29 = document.getElementById("cell-"+(i+4)+"-"+(j+4)).value;
            }

            let element30 = 0;
            if(i<(maxRow-4)) {
              element30 = document.getElementById("cell-"+(i+4)+"-"+j).value;
            }

            let element31 = 0;
            if(i<(maxRow-4) && j>3) {
              element31 = document.getElementById("cell-"+(i+4)+"-"+(j-4)).value;
            }

            let element32 = 0;
            if(j>3) {
              element32 = document.getElementById("cell-"+i+"-"+(j-4)).value;}

            let element33  = 0;
            if(i>4 && j>4) {
              element33 = document.getElementById("cell-"+(i-5)+"-"+(j-5)).value;
            }

            let element34 = 0;
            if(i>4) {
              element34 = document.getElementById("cell-"+(i-5)+"-"+j).value;
            }

            let element35 = 0;
            if(i>4 && j<(maxCol-5)) {
              element35 = document.getElementById("cell-"+(i-4)+"-"+(j+4)).value;
            }

            let element36 = 0;
            if(j<(maxCol-5)) {
              element36 = document.getElementById("cell-"+i+"-"+(j+5)).value;
            }

            let element37 = 0;
            if(i<(maxRow-5) && j<(maxCol-5)) {
              element37 = document.getElementById("cell-"+(i+5)+"-"+(j+5)).value;
            }

            let element38 = 0;
            if(i<(maxRow-5)) {
              element38 = document.getElementById("cell-"+(i+5)+"-"+j).value;
            }

            let element39 = 0;
            if(i<(maxRow-5) && j>4) {
              element39 = document.getElementById("cell-"+(i+5)+"-"+(j-5)).value;
            }

            let element40 = 0;
            if(j>4) {
              element40 = document.getElementById("cell-"+i+"-"+(j-5)).value;
            }

            win(element0,element1,element9,element17,element25,element5,element33);
            win(element0,element1,element5,element9,element17,element13,element25);
            win(element0,element1,element5,element9,element13,element17,element21);
            win(element0,element1,element5,element13,element21,element9,element29);
            win(element0,element5,element13,element21,element29,element1,element37);

            win(element0,element2,element10,element18,element26,element6,element34);
            win(element0,element2,element6,element10,element18,element14,element26);
            win(element0,element2,element6,element10,element14,element18,element22);
            win(element0,element2,element6,element14,element22,element10,element30);
            win(element0,element6,element14,element22,element30,element2,element38);

            win(element0,element3,element11,element19,element27,element7,element35);
            win(element0,element3,element7,element11,element19,element15,element27);
            win(element0,element3,element7,element11,element15,element19,element23);
            win(element0,element3,element7,element15,element23,element11,element31);
            win(element0,element7,element15,element23,element31,element3,element39);

            win(element0,element4,element12,element20,element28,element8,element36);
            win(element0,element4,element8,element12,element20,element16,element28);
            win(element0,element4,element8,element12,element16,element20,element24);
            win(element0,element4,element8,element16,element24,element12,element32);
            win(element0,element8,element16,element24,element32,element4,element40);
        }

        function win(cell_1, cell_2, cell_3, cell_4, cell_5, cell_6, cell_7) {
            if(cell_1=="X" && cell_2=="X" && cell_3=="X" && cell_4=="X" && cell_5=="X"){
                if(cell_6=="O" && cell_7=="O"){
                }else {
                    alert("X Win");
                }
            }
            if(cell_1=="O" && cell_2=="O" && cell_3=="O" && cell_4=="O" && cell_5=="O"){
                if(cell_6=="X" && cell_7=="X"){
                }else {
                    alert("O Win");
                }
            }
        }
    </script>
</body>
</html>
