<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="css/new_style.css">
		<script src="https://kit.fontawesome.com/39248c2d37.js" crossorigin="anonymous"></script>
	</head>
	<body>
		


		<div id="banner">
			<img src="image/banner.jpg" />
		</div>
		<div id="menu_top">
			<a href="home.html">HOME</a>
			<a href="news.html">NEWS</a>
			<a href="downloads.html" class="activate">DOWNLOADS</a>
			<a href="aboutus.html">ABOUT US</a>
			<a href="index.html">PLAY NOW</a>
		</div>
		<div id="main">
			<div id="left">
				<form class="box" action="home.html" method="post">
					<h1>Login</h1>
					<div class="textbox">
						<i class="fas fa-user" color="#000"></i>
						<input type="text" name="" placeholder="Username">
					</div>
					<div class="textbox">
						<i class="fas fa-key"></i>
						<input type="password" name="" placeholder="password">	
					</div>
					<input class="btn" type="submit" name="" value="Log in">
					<h5> - Or login with - </h5>
					<button><i class="fab fa-facebook-square"></i>Facebook</button>
					<button><i class="fab fa-google"></i>Google</button>
					<h5>Not a member? <a href="">Sign up now</a></h5>
				</form>
			</div>

			<div id="mid">
				<h2>Function is still in development</h2>
			</div>

			<div id="right">
				<img src="image/Ranking.png"><h3>Top 10</h3>
				<ul>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
					<li><img src="image/avatar.png">Username</li>
				</ul>
			</div>
		</div>

		<div id="footer">
			<div id="about">
				<h4>Practice on Software Engineer Project</h4>
				<div id="info-contact">
					<p><i class="fas fa-home"></i>: 268 Lý Thường Kiệt, P. 14, Q.10, Tp. Hồ Chí Minh</p>
					<p><i class="fas fa-phone-alt"></i>: 0859-545-779</p>
					<p><i class="fas fa-envelope"></i>: anh.tran.2120@hcmut.edu.vn</p>
				</div>					
			</div>

			<div id="quick-link">
				<h4>Quick Links</h4>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Downloads</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Play Now</a></li>
				</ul>
			</div>

			<div id="contact-us">
				<h4>Contact Us</h4>
				<div id="enter-mail"><input type="text" name="" placeholder="Your email address"></div>
				<div id="enter-message"><input type="text" name="" placeholder="Message ..."></div>
				<button><i class="fas fa-paper-plane"></i>Send</button>
			</div>
		</div>
		<div id="copy-right">
			<i class="far fa-copyright"></i>
			All Rights Reserved 2019-2020 | Designed by SomeOne
		</div>
	</body>
</html>