<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<script src="https://kit.fontawesome.com/39248c2d37.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="banner">
			<img src="{% static 'images/banner.png' %}">
		</div>
		<div id="menu_top">				
			<a href="{% url 'play' %}"><i class="fas fa-gamepad"></i> PLAY NOW</a>
			<a class="activate" href="{% url 'index' %}"><i class="fas fa-home"></i> HOME</a>
			<a href="{% url 'news' %}"><i class="fas fa-newspaper"></i> NEWS</a>
			<a class="right-side" href="/register"><i class="fas fa-user-plus"></i> REGISTER</a>
			<a class="right-side" href="/login"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
		</div>
		<div id="main">
			<div id="mid">
				<div id="news">
					<img src="{% static 'images/news/menuicon.png' %}">
					<h3>News</h3>
					<ul>
						<li><a href="">Cờ Caro VR, xin tiền má mua VR rồi chơi<span>21/4</span></a></li>
						<li><a href="">Nguyễn Titha bị loại ngay từ vòng gửi xe của giải ao làng<span>19/4</span></a></li>
						<li><a href="">Update 1.52: Skin quân cờ Caro được thêm vào cừa hàng<span>19/4</span></a></li>
						<li><a href="">Danh sách Kỳ thủ bị phạt do sử dụng phần mềm thứ 3<span>18/4</span></a></li>
						<li><a href="">Có cái tựa nào hay hay không, Caro thì có gì mới :)<span>18/4</span></a></li>
					</ul>
				</div>

			</div>

			<div id="right">
				<img src="{% static 'images/Ranking.png' %}"><h3>Top 10</h3>
				<ul>
					<li><h4>1</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>2</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>3</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>4</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>5</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>6</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>7</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>8</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>9</h4><img src="{% static 'images/avatar.png' %}">Username</li>
					<li><h4>10</h4><img src="{% static 'images/avatar.png' %}">Username</li>
				</ul>
			</div>
		</div>

		<div id="footer">
			<div id="about">
				<h4>Practice on Software Engineer Project</h4>
				<div id="info-contact">
					<p><i class="fas fa-home"></i>: 268 Lý Thường Kiệt, P. 14, Q.10, Tp. Hồ Chí Minh</p>
					<p><i class="fas fa-phone-alt"></i>: 0859-545-779</p>
					<p><i class="fas fa-envelope"></i>: anh.tran.2120@hcmut.edu.vn</p>
				</div>					
			</div>

			<div id="quick-link">
				<h4>Quick Links</h4>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Downloads</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Play Now</a></li>
				</ul>
			</div>

			<div id="contact-us">
				<h4>Contact Us</h4>
				<div id="enter-mail"><input type="text" name="" placeholder="Your email address"></div>
				<div id="enter-message"><input type="text" name="" placeholder="Message ..."></div>
				<button><i class="fas fa-paper-plane"></i>Send</button>
			</div>
		</div>
		<div id="copy-right">
			<i class="far fa-copyright"></i>
			All Rights Reserved 2019-2020 | Designed by SomeOne
		</div>
	</body>
</html>