<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/play_style.css' %}">
		<script src="https://kit.fontawesome.com/39248c2d37.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<div id="banner">
			<img src="{% static 'images/banner.jpg' %}" />
		</div>
		<div id="menu_top">
			<a href="{% url 'index' %}">HOME</a>
			<a href="{% url 'news' %}">NEWS</a>
			<a href="downloads.html">DOWNLOADS</a>
			<a href="aboutus.html">ABOUT US</a>
			<a href="{% url 'play' %}" class="activate">PLAY NOW</a>
		</div>
		<div id="main">
			<div id="left">
				<form class="box" action="home.html" method="post">
					<h1>Login</h1>
					<div class="textbox">
						<i class="fas fa-user" color="#000"></i>
						<input type="text" name="" placeholder="Username">
					</div>
					<div class="textbox">
						<i class="fas fa-key"></i>
						<input type="password" name="" placeholder="password">	
					</div>
					<input class="btn" type="submit" name="" value="Log in">
					<h5> - Or login with - </h5>
					<button><i class="fab fa-facebook-square"></i>Facebook</button>
					<button><i class="fab fa-google"></i>Google</button>
					<h5>Not a member? <a href="">Sign up now</a></h5>
				</form>
			</div>

			<div id="mid">
				<div id="room-level">
					<img src="{% static 'images/hall.png' %}">
					<h4>Hall</h4>
					<h6>Online players: 0</h6>
					<ul>
						<li><button id="level"><i class="far fa-minus-square"></i> Beginner</button></li>
							<li><button><i class="fas fa-square"></i> Room 1</button></li>
							<li><button><i class="fas fa-square"></i> Room 2</button></li>
							<li><button><i class="fas fa-square"></i> Room 3</button></li>
						<li><button id="level"><i class="far fa-minus-square"></i> Elementary</button></li>
							<li><button><i class="fas fa-square"></i> Room 1</button></li>
							<li><button><i class="fas fa-square"></i> Room 2</button></li>
							<li><button><i class="fas fa-square"></i> Room 3</button></li>
						<li><button id="level"><i class="far fa-minus-square"></i> Intermediate</button></li>
							<li><button><i class="fas fa-square"></i> Room 1</button></li>
							<li><button><i class="fas fa-square"></i> Room 2</button></li>
							<li><button><i class="fas fa-square"></i> Room 3</button></li>
						<li><button id="level"><i class="far fa-minus-square"></i> Advanced</button></li>
							<li><button><i class="fas fa-square"></i> Room 1</button></li>
							<li><button><i class="fas fa-square"></i> Room 2</button></li>
							<li><button><i class="fas fa-square"></i> Room 3</button></li>
					</ul>
				</div>

				<div id="table">
					<ul>
						<li><a href="/game"><button><p>Table 1</p>Players: 0/2</button></a> <button><p>Table 2</p></button></li>
						<li><button><p>Table 3</p></button> <button><p>Table 4</p></button></li>
						<li><button><p>Table 5</p></button> <button><p>Table 6</p></button></li>
						<li><button><p>Table 7</p></button> <button><p>Table 8</p></button></li>
						<li><button><p>Table 9</p></button> <button><p>Table 10</p></button></li>
					</ul>
				</div>
			</div>

		</div>

		<div id="footer">
			<div id="about">
				<h4>Practice on Software Engineer Project</h4>
				<div id="info-contact">
					<p><i class="fas fa-home"></i>: 268 Lý Thường Kiệt, P. 14, Q.10, Tp. Hồ Chí Minh</p>
					<p><i class="fas fa-phone-alt"></i>: 0859-545-779</p>
					<p><i class="fas fa-envelope"></i>: anh.tran.2120@hcmut.edu.vn</p>
				</div>					
			</div>

			<div id="quick-link">
				<h4>Quick Links</h4>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Downloads</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Play Now</a></li>
				</ul>
			</div>

			<div id="contact-us">
				<h4>Contact Us</h4>
				<div id="enter-mail"><input type="text" name="" placeholder="Your email address"></div>
				<div id="enter-message"><input type="text" name="" placeholder="Message ..."></div>
				<button><i class="fas fa-paper-plane"></i>Send</button>
			</div>
		</div>
		<div id="copy-right">
			<i class="far fa-copyright"></i>
			All Rights Reserved 2019-2020 | Designed by SomeOne
		</div>

	</body>
</html>