body{
	font-family: Arial;
	background: url('/static/images/body_background.jpg');
	margin: 0px auto;
}

#menu_top {
	background: #33373e;
	height: 50px;
	overflow: hidden;
	margin: 0px auto;
	width: 1000px;
}

#banner {
	margin: 0px auto;
	width: 1000px;
	background: #febd4b;
	height: 300px;
}

#main {
	margin: 0px auto;
	width: 1000px;
	margin-top: 5px;
}

#main #left {
	height: 700px;
	width: 240px;
	float: left;
}

#main #mid {
	background: white;
	margin-left: 5px;
	height: 700px;
	width: 755px;
	float: left;
}

#footer {
	margin: 0px auto;
	width: 1000px;
	background: #303036;
	color: #d3d3d3;
	height: 240px;
	clear: left;
}

#menu_top a {
	float: left;
	color: #f2f2f2;
	height: 50px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#menu_top a:hover {
	background: #ddd;
	color: #2e8775;
}

#menu_top a.activate {
	background: #2e8775;
	color: white;
}


#banner img {
	width: 1000px;
	height: 300px;
}

#main #left .box{
    width: 220px;
    position: absolute;
    padding: 5px 10px 0px 10px;
	background: #191919;
}

#main #left .box h1{
	float: left;
	color: white;
	font-size: 25px;
	border-bottom: 5px solid #2e8775;
	margin-bottom: 20px;
	padding: 0px 0px 5px 0px;
}

#main #left .textbox{
	width: 100%;
	overflow: hidden;
	font-size: 18px;
	padding: 6px 0;
	margin: 6px 0;
	border-bottom: 1px solid #2e8775;
}

#main #left .textbox i{
	float: left;
	width: 26px;
	text-align: center;
	color: white;
	padding: 3px;
}

#main #left .textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 140px;
	float: left;
}

#main #left .btn{
	margin-top: 10px;
	width: 100%;
	background: none;
	border: 2px solid #2e8775;
	color: white;
	padding: 7px;
	font-size: 18px;
	cursor: pointer;
}

#main #left .btn:hover{
	background: #2e8775;
}

#main #left h5 {
	color: grey;
	text-align: center;
	font-weight: 200;
	margin-bottom: 15px;
}

#main #left button {
	width: 100px;
	background: none;
	border: 2px solid #2e8775;
	color: white;
	font-size: 14px;
	padding: 5px;
	margin: 0px 0px 30px 6px;
	cursor: pointer;
}

#main #left button:hover{
	background: #2e8775;
}

#main #left button i {
	padding: 5px;
}

#main #mid h2 {
	text-align: center;
}



#footer #about {
	width: 400px;
	float: left;
}

#footer #about h4 {
	text-indent: 35px;
	font-size: 20px;
}

#footer #about #info-contact {
	text-indent: 9px;
}

#footer #quick-link {
	width: 300px;
	float: left;
}

#footer #quick-link h4 {
	text-indent: 60px;
	font-size: 20px;
}

#footer #quick-link ul {
	margin-left: 45px;
}

#footer #quick-link ul li a {
	text-decoration: none;
	color: #d3d3d3;
}

#footer #contact-us {
	width: 300px;
	float: left;
}

#footer #contact-us h4 {
	font-size: 20px;
}

#footer #contact-us #enter-mail {
	overflow: hidden;
	border-radius: 5px;
	width: 85%;
	padding: 6px 0;
	margin: 6px 0;
	background: #272727;
}

#footer #contact-us #enter-mail input{
	background: none;
	border: none;
	outline: none;
	color: #d3d3d3;
	font-size: 15px;
	text-indent: 5px;
	width: 100%;
}

#footer #contact-us #enter-message {
	overflow: hidden;
	border-radius: 5px;
	width: 85%;
	height: 70px;
	margin: 6px 0;
	vertical-align: top;
	background: #272727;
}

#footer #contact-us #enter-message input{
	background: none;
	border: none;
	outline: none;
	color: #d3d3d3;
	font-size: 15px;
	text-indent: 5px;
	width: 100%;
	padding-top: 6px;
}

#footer #contact-us button {
}

#copy-right {
	width: 1000px;
	clear: left;
	height: 40px;
	line-height: 40px;
	color: #d3d3d3;
	background: #303036;
	margin: 0px auto;
	text-align: center;
	border-top: 2px solid grey;
}